<!-- NAVIGATION -->
<app-nav></app-nav>

<!-- CONTENT -->
<div class="container">

  <div class="card">
    <div class="card-body">
      <h5 class="card-title" i18n>Angular i18n localization</h5>
      <h6 class="card-subtitle mb-2 text-muted" i18n>Localizable content</h6>
      <p class="card-text" i18n>
        With i18n you have a wide range of options to localize your application.
      </p>
      <ul>
        <li i18n>Texts</li>
        <li i18n>Dates</li>
        <li i18n>Numbers</li>
        <li i18n>Percentages</li>
        <li i18n>Currencies</li>
      </ul>
      <p class="card-text" i18n>You are also able to handle e.g. plurals or genders in the ICU format.</p>
    </div>
  </div>

  <hr>

  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <p class="card-text" i18n>Hi, {{userName}}</p>
        <p class="card-text" i18n>
          Since your last registration on {{now | date:'shortDate'}}, {{minutes}} new articles have been published.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <p class="card-text text-center">
          <button class="btn btn-large btn-danger" (click)="showWarning()" i18n>Show warning</button>
        </p>
      </div>
    </div>
  </div>

  <hr>

  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" i18n>Dates</h5>
        <p class="card-text">
          {{ now | date:'fullDate' }}
        </p>
        <p class="card-text">
          {{ now | date:'longDate' }}
        </p>
        <p class="card-text">
          {{ now | date:'short' }}
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" i18n>Numbers</h5>
        <p class="card-text">
          {{ 100000000 | number }}
        </p>
        <p class="card-text">
          {{ 100000.23 | number }}
        </p>
        <p class="card-text">
          {{ 51.043534423 | number }}
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" i18n>Currencies</h5>
        <p class="card-text">
          {{ 1000000 | currency }}
        </p>
        <p class="card-text">
          {{ 100.15 | currency }}
        </p>
      </div>
    </div>
  </div>
  <hr>
  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" i18n>Percentages</h5>
        <p class="card-text">
          {{ 1.2 | percent }}
        </p>
        <p class="card-text">
          {{ 0.034532 | percent:'0.2-2' }}
        </p>
        <p class="card-text">
          {{ 0.00011255 | percent:'0.3-5' }}
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" i18n>Plurals</h5>
        <p class="card-text">
          <span i18n>Updated { minutes, plural, =0 {just now} =1 {one minute ago} other { {{minutes}} minutes ago } }</span>
        </p>
        <button class="btn btn-sm btn-primary" (click)="minutes = minutes - 1;">-</button>
        <span i18n>minutes: {{ minutes }}</span>
        <button class="btn btn-sm btn-primary" (click)="minutes = minutes + 1;">+</button>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" i18n>Alternative texts</h5>
        <p class="card-text">
          <span i18n>The author is {gender, select, m {male} f {female} o {other}}</span>
        </p>
        <button class="btn btn-sm btn-primary" (click)="gender = 'f'" i18n>Female</button>
        <button class="btn btn-sm btn-primary" (click)="gender = 'm'" i18n>Male</button>
        <button class="btn btn-sm btn-primary" (click)="gender = 'o'" i18n>Other</button>
      </div>
    </div>
  </div>

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        Angular Localization - Trivadis AG, Raphael Bolliger
      </div>
    </div>
  </footer>
</div>